/* GENERAL */
:root{
    --font-primary: 'Roboto', sans-serif;
    --font-secondary:'Open Sans', sans-serif;
    --color-primary: #111;
    --color-secondary: #fff;
    --color-third: #e9dcdd;
}

* { 
  font-family: var(--font-secondary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
    font-family: var(--font-primary);
}

p{
    font-family: var(--font-secondary);
}

/* HEADER */
header{
    height: 4.5rem;
}
/* CARD MIDDLE */
main .card-middle{
    display: flex;
    height: 41rem;
}

main .card-middle p{
    font-size: 16px;
}

.card-middle-leftside{
    background-color: var(--color-third);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.875rem 1.875rem 1.875rem 5rem;
}

.card-middle-leftside h2{
    font-size: 96px;
    font-weight: 700;

}

.card-middle-leftside h3{
    font-size: 36px;
    font-weight: 700;
    margin: 10rem 0 0 11.75rem; 
}

.card-middle-leftside p{
    font-weight: 300;
    margin: 1.25rem 0 0 11.75rem; 
}

.card-middle-rightside{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-middle-rightside img{
    height: 497px;
    width: 400px;   
}

.card-middle-rightside p{
    margin: 1.25rem auto 0;
    width: 281px;
    text-align: center;
}

/* CARD GREATER RIGHTER */
.card-greater-righter{
    display: flex;
}
.card-greater-righter-leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    width: 33.33%;
}

.card-greater-righter-leftside h2{
    font-size: 36px;
}

.card-greater-righter-rightside{
    display: flex;
    flex-direction: column;
    width: 66.66%;
    color: var(--color-secondary);
    /* background-image: ; */
    background: #000;
}

.card-greater-righter-rightside-column{
    display: flex;
    align-items: center;
}

.card-greater-righter-rightside-column-title,
.card-greater-righter-rightside-column-description{
    flex-basis: 50%;
    padding: 1.875rem;
}

.card-greater-righter-rightside-column-title{
    text-align: center;
}


.card-greater-righter-rightside-column-title h1{
    font-size: 96px;
}
.card-greater-righter-rightside-column-title h5{
    font-size: 20px;
    font-weight: 400;
    margin: 1.25rem 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-greater-righter-rightside-column-description p{
    margin-top: 1.375rem;
}

/* CONTAINER CENTER */
.container-center{
    display: flex;
    justify-content: center;
}

.card-center{
    margin: 3.75rem 0;
    display: flex;
    justify-content: center;

}

.card-center-leftside-img{
    background: url(../images/manWithGlasses.jpeg) no-repeat;
    background-size: cover;
    width: 570px;
    height:678px;
}

.card-center-rightside{
    width: 570px;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-center-rightside-row h4{
    font-size: 36px;
    text-align: right;
    margin-top: 6.25rem;
}

.card-center-rightside-row p{
    text-align: right;
    margin-top: 1.25rem;
    line-height: 1.6;
}

.card-center-rightside-row .line{
    width: 456px;
    margin: 1.875rem 0 0 auto;
    border-bottom: 1px solid #454545;
}