/* GENERAL */
:root{
    --font-primary: 'Roboto', sans-serif;
    --font-secondary:'Open Sans', sans-serif;
    --font-third: 'Montserrat', sans-serif;
    --color-primary: #111;
    --color-secondary: #fff;
    --color-third: #e9dcdd;
    --padding-box: 1.875rem;
}

* { 
  font-family: var(--font-secondary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
    font-family: var(--font-primary);
}

p{
    font-family: var(--font-secondary);
}

/* HEADER */
header{
    height: 4.5rem;
}

.nav{
    display: flex;
    justify-content: center;
    margin: 0 23.81rem;

}
.nav i{
    font-size: 1.75rem;
    margin: 1.25rem 0 1.25rem auto;
}

/* CARD MIDDLE */
main .card-middle{
    display: flex;
    height: 41rem;
}

main .card-middle p{
    font-size: 16px;
}

.card-middle-leftside{
    background-color: var(--color-third);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: var(--padding-box) var(--padding-box) var(--padding-box) 5rem;
}

.card-middle-leftside h2{
    font-size: 96px;
    font-weight: 700;
}

.card-middle-leftside h3{
    font-size: 36px;
    font-weight: 700;
    margin: 10rem 0 0 11.75rem; 
}

.card-middle-leftside p{
    font-weight: 300;
    margin: 1.25rem 0 0 11.75rem; 
}

.card-middle-rightside{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-middle-rightside img{
    height: 497px;
    width: 400px;   
}

.card-middle-rightside p{
    margin: 1.25rem auto 0;
    width: 281px;
    text-align: center;
}

/* CARD GREATER RIGHTER */
.card-greater-righter{
    display: flex;
}
.card-greater-righter-leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-box);
    width: 33.33%;
}

.card-greater-righter-leftside h2{
    font-size: 36px;
}

.card-greater-righter-rightside{
    display: flex;
    flex-direction: column;
    width: 66.66%;
    color: var(--color-secondary);
    background: url(../images/background2.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.card-greater-righter-rightside-column{
    display: flex;
    align-items: center;
}

.card-greater-righter-rightside-column-title,
.card-greater-righter-rightside-column-description{
    flex-basis: 50%;
    padding: var(--padding-box);
}

.card-greater-righter-rightside-column-title{
    text-align: center;
}


.card-greater-righter-rightside-column-title h1{
    font-size: 96px;
}
.card-greater-righter-rightside-column-title h5{
    font-size: 20px;
    font-weight: 400;
    margin: 1.25rem 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card-greater-righter-rightside-column-description p{
    margin-top: 1.375rem;
}

/* CONTAINER CENTER */
.container-center{
    display: flex;
    justify-content: center;
}

.card-center{
    margin: 3.75rem 0;
    display: flex;
    justify-content: center;
}

.card-center-leftside-img{
    background: url(../images/manWithGlasses.jpeg) no-repeat;
    background-size: 110%;
    background-position: center;
    width: 570px;
    height:678px;
}

.card-center-rightside{
    width: 570px;
    padding: var(--padding-box);
    display: flex;
    flex-direction: column;
    flex: 1;

}

.card-center-rightside h4{
    font-size: 36px;
    text-align: right;
    margin-top: 6.25rem;
}

.card-center-rightside p{
    text-align: right;
    margin-top: 1.25rem;
    line-height: 1.6;
}

.card-center-rightside .line{
    width: 456px;
    margin: 1.875rem 0 0 auto;
    border-bottom: 1px solid #454545;
}

/* EXPENDED */
.toRight{
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 3.75rem 0 0 auto;
    display: flex;

}

.toRight-leftside{
    flex-basis: 33%;
    padding:var(--padding-box);
}

.toRight-leftside h2{
    margin-right: 7.125rem;
    font-size: 36px;
}

.toRight-leftside h6{
    margin-top: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}

.toRight-middle{
    background-color: var(--color-third);
    flex-basis: 28%;
}

.toRight-middle-img{
    background: url(../images/plant.jpeg) no-repeat;
    background-size: cover;
    width: 313px;
    height: 414px;
    margin-right: 7.5rem;
}

.toRight-rightside{
    padding: var(--padding-box);
    background-color: var(--color-third);
    flex-basis: 38%;
    height: 565px;
}
.toRight-rightside p{
    margin: 128px 2px 0 0;
    line-height: 2;
}

/* EXPANDED */

.expanded{
    border-top: 1px solid #d9d9d9;
    display: flex;
}

.expanded-leftside{
    padding: var(--padding-box);
}

.expanded-leftside h2{
    margin-top: 7.1875rem;
    font-size: 36px;
}

.expanded-leftside p{
    margin-top: 1.25rem;
    color: #b3b3b3 !important;
}

.p30{
    padding: 1.875rem;
}

.grid-row{
    display: flex;
}

.image{
    min-width: 200px;
    min-height: 200px;
}

.img1{
    background: url(../images/people1.jpeg) no-repeat;
    background-size: cover;
}
.img2{
    background: url(../images/people2.jpeg) no-repeat;
    background-size: cover;
}
.img3{
    background: url(../images/people3.jpeg) no-repeat;
    background-size: cover;
}
.img4{
    background: url(../images/people4.jpg) no-repeat;
    background-size: cover;
}
.img5{
    background: url(../images/people5.jpeg) no-repeat;
    background-size: cover;
}
.img6{
    background: url(../images/people6.jpeg) no-repeat;
    background-size: cover;
}
.img7{
    background: url(../images/people7.jpeg) no-repeat;
    background-size: cover;
}
.img8{
    background: url(../images/people8.jpeg) no-repeat;
    background-size: cover;
}

/* CIRCEL CARD */
.circleCard{
    background-color: var(--color-third);
    border-top: 1px solid #d9d9d9;
}

.circleCard-ml{
    margin-left: 23.8125rem;
    display: flex;
    justify-content: flex-end;
}

.circleCard-middle,
.circleCard-rightside{
    background-color: var(--color-secondary);
    flex-basis: 50%;
}

.circleCard-middle{
    padding: var(--padding-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circleCard-middle h2{
    font-size: 36px;
}

.circleCard-rightside{
    display: flex;
    flex-direction: column;
}

.circleCard-rightside-row{
    height: 286px;
    display: flex;
    align-items: center;
}

.circleCard-rightside-row-description,
.circleCard-rightside-row-image{
    padding: var(--padding-box);
}

.circleCard-rightside-row-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 286px;
}

.circleCard-rightside-row-description h5{
    font-family: var(--font-third);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2.6875rem 10.5rem 0 0;
}

.circleCard-rightside-row-description p{
    margin-top: 1.25rem;
    width: 336.438px;
}

.circleCard-rightside-row-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 286px;
}

.circleCard-rightside-row-image .circle-img{
    width: 141px;
    height: 141px;
    border-radius: 50%;
}

.circleCard-rightside-row-image .img1{
    background: url(../images/people8.jpeg) no-repeat;
    background-size: cover;
}

.circleCard-rightside-row-image .img2{
    background: url(../images/people7.jpeg) no-repeat;
    background-size: cover;
}

/* CARD INCRUSTED */
.card-incrusted-bg{
    background: url(../images/background2.jpeg) no-repeat;
    background-position: 100% 100%;
    background-size: cover;   
    width: 100vw;
    height: 702px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-incrusted{
    display: flex;
    width: 1017px;
}
.card-incrusted-img{
    background: url(../images/people6.jpeg) no-repeat;
    background-size: cover;
}
.card-incrusted-img{
    padding: var(--padding-box);
    padding-bottom: 1.1875rem;
    width: 324px;
    height: 493px;
}
.card-incrusted-form{
    width: 567px;
    padding: var(--padding-box);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-div{
    margin-bottom: 2.5rem;
    color:#454545;
}

.form-div label{
    font-size: 1rem;
}
.form-div input,
.form-div textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    padding: 0.625rem 0.75rem;
}

/* .form-div input:hover{
    border-bottom: 2px solid #000;
    border-radius: 0.25rem;
} */

.form-div-button input{
    padding: 0.625rem 1.875rem;
    border: 2px solid #000;
    background-color: var(--color-secondary);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* FOOTER */
footer{
    background-color: #333333;
    display: flex;
    justify-content: center;

}
.container-footers{
    color: #fff;
    text-align: center;
    width: 1140px;
}

.footer-top p {
    width: 417px;
    margin: 3.0625rem auto;
    font-size: 14px;
}

/* PLUS FOOTER */
.plus-footer{
    background-color: #333333;
    text-align: center;  
    height: 65px;
}

.footer-bottom{
    height: 100%;
    padding: 1rem;
}

.footer-bottom a,
.footer-bottom p{
    font-size: 12.8px;
}

.footer-bottom p{
    color: var(--color-secondary);
}

.footer-bottom a{
    color: #adcce9;
}

.footer-bottom a:hover{
    color: #333333;
    text-decoration: none;
}